{
  "extends": "stylelint-config-standard-scss",
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      { "ignoreAtRules": ["extend", "function", "if", "include", "mixin", "return", "use"] }
    ],
    "no-descending-specificity": null,
    "length-zero-no-unit": null,
    "number-leading-zero": "always",
    "order/properties-alphabetical-order": true,
    "property-no-unknown": [true, { "ignoreProperties": ["composes"] }],
    "scss/at-import-no-partial-leading-underscore": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }]
  }
}
