.container {
  width: 100%;
}

.content {
  background-color: #ffffff;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: auto;
  position: relative;
  text-align: center;
  top: -5rem;
}

@media screen and (max-width: 768px) {
  .content {
    top: 0rem;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .content {
    top: 0rem;
    width: 100%;
  }
}
