.skill,
.skills {
  display: inline-block;
  font-size: 1.125rem;
  list-style: none;
  padding: 0 1.5vw 0 1.5vw;
}

.title {
  font-size: 2rem;
  margin-top: 7.5%;
}

@media screen and (max-width: 425px) {
  .skill {
    font-size: 0.75rem;
  }

  .title {
    font-size: 1.25rem;
  }
}
