.avatar {
  border-radius: 50%;
  display: "inherit";
  margin-left: "auto";
  margin-right: "auto";
  position: "relative";
}

.contactInformation {
  font-size: 1rem;
}

.description {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 2.75rem;
  position: relative;
  width: 80%;
}

.role {
  font-size: 1.25rem;
  margin-top: -1.75%;
  text-transform: uppercase;
}

.title {
  font-size: 3.5rem;
  margin-top: 7.5%;
}

@media screen and (max-width: 768px) {
  .description {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .contactInformation {
    font-size: 0.66rem;
  }

  .description {
    font-size: 0.75rem;
    line-height: 1.5rem;
    width: 100%;
  }

  .role {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}
