.avatar {
  border-radius: 50%;
  margin-top: -175px;
}

.contactInformation {
  font-size: 1rem;
}

.description {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 2.75rem;
  width: 80%;
}

.role {
  font-size: 1.25rem;
  margin-top: -1.75%;
  text-transform: uppercase;
}

.socialMediaIcons {
  flex-direction: row;
  line-height: 1.75em;
}

.socialMediaIcon,
.socialMediaIcon:hover {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  color: #3c4858;
  cursor: pointer;
  font-size: 35px;
}

.title {
  font-size: 3.5rem;
  margin-top: 7.5%;
}

@media screen and (max-width: 768px) {
  .avatar {
    margin-top: -125px;
  }

  .contactInformation {
    font-size: 0.83rem;
  }

  .description {
    width: 100%;
  }

  .socialMediaIcon,
  .socialMediaIcon:hover {
    font-size: 25px;
    padding: 1px 2px;
  }
}

@media screen and (max-width: 425px) {
  .contactInformation {
    font-size: 0.66rem;
  }

  .description {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .role {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}
