.avatar {
  border-radius: 50%;
}

.avatarContainer {
  height: 21.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10.938rem;
  width: 21.875rem;
}

.contactInformation {
  font-size: 1rem;
}

.description {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 2.75rem;
  width: 80%;
}

.role {
  font-size: 1.25rem;
  margin-top: -1.75%;
  text-transform: uppercase;
}

.socialMediaIcons {
  flex-direction: row;
  line-height: 1.75em;
}

.socialMediaIcon,
.socialMediaIcon:hover {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  color: #3c4858;
  cursor: pointer;
  font-size: 2.188rem;
}

.title {
  font-size: 3.5rem;
  margin-top: 5%;
}

@media screen and (max-width: 768px) {
  .avatarContainer {
    height: 15.625rem;
    margin-top: -7.813rem;
    width: 15.625rem;
  }

  .contactInformation {
    font-size: 0.83rem;
  }

  .description {
    width: 100%;
  }

  .socialMediaIcon,
  .socialMediaIcon:hover {
    font-size: 1.563rem;
    padding: 0.188rem;
  }
}

@media screen and (max-width: 425px) {
  .avatarContainer {
    height: 7.813rem;
    margin-top: -3.907rem;
    width: 7.813rem;
  }

  .contactInformation {
    font-size: 0.66rem;
  }

  .description {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .role {
    font-size: 1rem;
  }

  .title {
    font-size: 2rem;
  }
}
