.avatar {
  border-radius: 50%;
  display: "inherit";
  height: "17vw";
  margin-left: "auto";
  margin-right: "auto";
  position: "relative";
  width: "17vw";
}

.contactInformation {
  font-size: 1vw;
}
