.navigation {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.navigationTitle {
  float: left;
  font-size: 24px;
  line-height: 2em;
}

.navigationIcons {
  display: inline-flex;
  flex-direction: row;
  float: right;
  line-height: 1.75em;
}

.navigationIcon {
  padding: 0.5rem 0.5rem;
}
.navigationIcon:last-of-type {
  padding-right: none;
}

@media screen and (max-width: 425px) {
  .navigationIcon {
    padding: 0 0.1rem;
  }

  .navigationTitle {
    font-size: 16px;
  }
}
