.container {
  background-color: #fff;
  height: 15.625rem;
}

.separator {
  height: 15.625rem;
  width: calc(100% + 1.3px);
}

.wave {
  fill: #132138;
}

@media screen and (width <= 425px) {
  .container {
    height: 6.25rem;
  }

  .separator {
    height: 6.25rem;
  }
}
