.container {
  background-color: #132138;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  height: 20rem;
}

@media screen and (min-width: 1440px) {
  .container {
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 15rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    height: 8rem;
  }
}
