.container {
  background-color: #fff;
  height: 21.875rem;
}

.separator {
  height: 21.875rem;
  transform: rotate(180deg);
  width: calc(100% + 1.3px);
}

.wave {
  fill: #132138;
}

@media screen and (max-width: 768px) {
  .container {
    height: 15.625rem;
  }

  .separator {
    height: 15.625rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    height: 7.813rem;
  }

  .separator {
    height: 7.813rem;
  }
}
