.subExperience {
  display: inline-flex;
  text-align: -webkit-center;
  width: 50%;
}

.title {
  font-size: 2rem;
  margin-top: 7.5%;
}

@media screen and (width <= 768px) {
  .subExperience {
    display: grid;
    width: 100%;
  }
}

@media screen and (width <= 425px) {
  .title {
    font-size: 1.25rem;
  }
}
