.author {
  bottom: 1.5625rem;
  color: #fff;
  font-size: 0.75rem;
  position: absolute;
}

.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: auto;
  justify-content: center;
  min-height: 15.625rem;
  position: relative;
}

.separator {
  height: 15.625rem;
  position: absolute;
  width: 100%;
}

.wave {
  fill: #132138;
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 10.938rem;
  }

  .separator {
    height: 10.938rem;
  }
}

@media screen and (max-width: 425px) {
  .author {
    font-size: 0.5rem;
  }

  .container {
    min-height: 6.25rem;
  }

  .separator {
    height: 6.25rem;
  }
}
