.container {
  color: #999999;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    line-height: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    font-size: 0.5rem;
    line-height: 0.5rem;
  }
}
