.company {
  font-size: 1rem;
  text-transform: uppercase;
}

.content {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 2.75rem;
  position: relative;
  width: 90%;
}

.divider {
  display: none;
}

.role {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.tenure {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .divider {
    color: #3c4858;
    display: block;
    width: 5%;
  }
}

@media screen and (max-width: 425px) {
  .company {
    font-size: 0.66rem;
  }

  .content {
    font-size: 0.75rem;
    line-height: 1.5rem;
    width: 95%;
  }

  .role {
    font-size: 0.75rem;
  }

  .tenure {
    font-size: 0.5rem;
  }
}
